body{
    margin: 0;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

.background{
    width: 100%;
    height: auto;
}

.about{
    position: absolute;
    color: #11324D;
    font-size: 40px;
    top: 10px;
    left: 50px;
}

li{
    font-size: 18;
}

.eq{
    position: absolute;
    top: 130px;
    left: 380px;
    right: 410px;
    line-height: 1.3;
    text-align: left;
}

.skills{
    position: absolute;
    top: 490px;
    left: 450px;
    right: 500px;
    line-height: 1.5;
    text-align: left;
}

.interests{
    position: absolute;
    top: 890px;
    left: 430px;
    right: 800px;
    line-height: 1.5;
    text-align: left;
    width: 40%;
}

.clubs{
    position: absolute;
    top: 1250px;
    left: 400px;
    right: 450px;
    line-height: 1.5;
    text-align: left;
    width: 32%;
}

.lang{
    position: absolute;
    top: 1680px;
    left: 480px;
    right: 410px;
    line-height: 1.3;
    text-align: left;
}

.eq-img{
    float: left;
    height: 330px;
    margin-right: 1%;
}

.sk-img{
    position: absolute;
    float: right;
    height: 220px;
    top: 55px;
    left: 420px;
}

.int-img{
    float: left;
    height: 300px;
    margin-right: 16%;
}

.club-img{
    position: absolute;
    float: right;
    height: 232px;
    width: 232px;
    top: 65px;
    left: 510px;
}

.lang-img{
    float: left;
    height: 222px;
    margin-right: 18%;
}
